@charset "utf-8";
@import '../css/views.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;800;900&display=swap');

*{margin:0; padding:0;}
html,body{margin:0;}
h1,h2,h3,h4,h5,div,p{margin:0;}
ul li , ol li{ list-style: none;}
a, a:hover{text-decoration: none;}

body{ overflow-x: hidden; font-family: 'Noto Sans KR', sans-serif;}


/* Banner */

.bannerWrap{

    width:100%;
    height:800px;
    margin:0 auto;
    background-color: rgb(246, 242, 237);
  
    }
  
.bannerWrap .bannerTitleImg{
  
    height:150px;
    text-align:center;
    display:block;
    margin:0 auto;
    padding-top:100px;
  
    }
  
  
.bannerWrap p{
  
    color:#333;
    font-size:30px;
    padding:10px 0px;
  
    }
  
  
.bannerWrap .subtitle{
  
    color:#666;
    font-size:20px;
    font-weight:500;
  
    }
  
.bannerWrap .imgBox{
  
    width:100%;
    height:300px;
    margin:0 auto;
  
    }
  
  
.bannerWrap .imgBox ul{
  
   width:100%;
   height:100%;
   margin-top:50px;
   display:flex;
   align-items:center;
   justify-content:center;
  
   }
  
  
.bannerWrap .imgBox ul li{
   
   width:15%;
   height: 90%;
   margin:8px;
   border-radius:5px;
   border:1px solid #eaeaea;
   background-size:100%;
   background-position: 50% 50%;
   background-repeat : no-repeat;
   background-color:#fff;
   opacity: 50%;
   transform: translateY(10px);
   transition: transform 800ms;
   
   
   }
  
.bannerWrap .imgBox ul li:nth-child(1){ background-image : url(../assets/img/stuff01.png); }
  
.bannerWrap .imgBox ul li:nth-child(2){ background-image : url(../assets/img/stuff02.png); }

.bannerWrap .imgBox ul li:nth-child(3){ background-image : url(../assets/img/stuff03.png); }

.bannerWrap .imgBox ul li:nth-child(4){ background-image : url(../assets/img/stuff04.png); }

.bannerWrap .imgBox ul li:nth-child(5){ background-image : url(../assets/img/stuff05.png); }
  
.bannerWrap .imgBox ul li:hover{
   
     opacity:100%;
     transform: translateY(0px);
     transition: transform 800ms;
   
   }
  
.bannerWrap .imgBox ul li:hover span{
    
     color:#333;
     top:50%;
     transition: top 800ms;
    
    }
  
  
.bannerWrap .imgBox ul li:last-child:hover span{
    
     color:#fff;
     top:50%;
     transition: top 800ms;
    
 }
  
.bannerWrap .imgBox ul li span{
  
      margin:0 auto;
      display:block;
      text-align:center;
      position:relative;
      left:0;
      top:70%;
      color:#eaeaea;
  
    }
  
.bannerWrap .imgBox ul li span:nth-child(2){ font-weight:800; }


/*footer*/


.footer{

    width:100%;
    padding:20px 0px;
    margin:0 auto;
    background-color:#000;
    display:flex;
    align-items:center;
    justify-content:space-around;

    }

.footer .logoSpace{  padding:10px 0px; }

.footer .logoSpace img{ height:50px; filter:grayscale(100%);}

.footer .companySpace{ display:flex; align-items:left;}

.footer .companySpace ul{
    
    padding:5px 0px; 
    display:flex; 
    flex-direction:column; }

.footer .companySpace ul li{ margin:5px;}

.footer .companySpace ul li a{ color:#535353; font-size:14px; padding-right:10px; text-align: left; float:left;}

.footer .companySpace ul li a:hover{ color:#eaeaea;}

.footer .companySpace ul li p{ color:#eaeaea; font-size:14px; text-align: left;}

.footer .companySpace ul li:last-child p{ font-size:16px; font-weight:800;}