@charset "utf-8";

*{margin:0; padding:0;}
html,body{margin:0;}
h1,h2,h3,h4,h5,div,p{margin:0;}
ul li , ol li{ list-style: none;}
a, a:hover{text-decoration: none;}

body{ overflow-x: hidden;}

/* Brand Page */


#brand{

    width:100%;
    height:100%;
    margin:0 auto;
    margin-top:80px;
    overflow: hidden;
  
    }
  
#brand .brandPage{
  
    width:100%;
    height:700px;
    background-position:50% 50%;
    background-size:cover;
    background-repeat:no-repeat;
  
   }
  
  
#brand .brand_page1{
  
    padding:20px 0px;
    background-image:url(../assets/img/brand01.jpeg);
    display:flex;
    align-items:center;
    justify-content:center;
   
  
   }
  
  
#brand .brand_page1 h3{
  
    color:#fff;
    font-weight:800;
    font-size:33px;
    letter-spacing:3px;
  
    }
  
#brand .brand_page2{
  
    padding:20px 0px;
    background-image:url(../assets/img/background01.png);
    background-size: 30%;
    background-position:20% center;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color: #f4f4f4;
  
   }
  
  
#brand .brand_page2 p{
   
    font-size: 50px;
    color:#333;
    margin:10px;
  
   }
  
  
#brand .brand_page2 p:first-child{
  
    font-size:16px;
    color:#aa0000;
    font-weight:800;
  
    }
  
  
#brand .brand_page3{
     
    padding: 20px 0px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: rgb(246, 242, 237);
     
     }
  
#brand .brand_page4{

    padding: 20px 0px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: #f4f4f4;
    
    }

#brand .brand_page5{

    padding: 20px 0px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: rgb(246, 242, 237);
    
    }

#brand .brand_page6{

    padding: 20px 0px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: #f4f4f4;
    
    }

.boxs{ width:40%; height:100%; }
  

.Box1{
  
    padding:10px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    transform: translateY(-50px);
    opacity:0;
    transition: transform 1s;
  
      }

.Box1.moving{ 

    transform: translateY(0px);
    opacity:1;
    transition: transform 1s;

}

  
.Box1 .subBoxs{ margin:10px; }
  
.Box1 .iconBox { display:flex; margin-left:13%;}

.Box1 .iconBox li{ margin:10px; float:left; }
  
.Box1 .iconBox li img{ height:40px; text-align:center; }
  
.Box1 .iconBox li p{ font-size:12px; text-transform:uppercase; color:#998b7e;}

.Box1 .number{ font-size:130px; text-transform:uppercase; color:#e4e4e4; font-weight: 900; font-style: italic; position: relative; }
  
.Box1 .infoBox {
  
    display:flex;
    flex-direction:column;
    position: relative;
    top:-100px;
  
       }

.Box1 .infoBox li{ margin: 2px; }
.Box1 .infoBox li p{ font-size:18px; padding: 0px 60px; font-weight:600; color:#515151; text-align: left; letter-spacing:-1px; }
.Box1 .infoBox li:first-child p{ font-size:35px; color:#aa0000; font-weight:600; text-align: left;}
  

.Box2{

  transform: translateY(0px); 
  transition: transform 1s;
  opacity:0;

}

.Box2.moving{ 
    
  transform: translateY(-70px);
  opacity:1;
  transition: transform 1s;

}

.Box2 img{

    height:600px;
}



/* Menu */


#menuWrap{

    width: 100%;
    height: 100%;
    margin:0 auto;

}

#menuWrap .menuTitle{

    padding: 20px 0px;
    height:300px;
    margin:0 auto;
    background-image:url(../assets/img/menuBackground.jpeg);
    background-size:cover;
    background-position:50% 50%;
    background-repeat:no-repeat;
    margin-top:80px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#menuWrap .menuTitle h3{

    color:#fff;
    font-weight:800;
    font-size:33px;
    letter-spacing:3px;

}

#menuWrap .search{

    width: 100%;
    padding: 100px 0px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

#menuWrap .search .menuSearch{

    width:300px;
    height:50px;
    border:1px solid #ddd;
    border-radius: 5px;
    text-align: center;

}

#menuWrap .search button{

    width:70px;
    height:50px;
    border:none;
    border-radius: 5px;
    background-color:#ddd;
    margin-left:10px;
    

}

#menuWrap .search button:hover{

    background-color: #333;
    color:#fff;
}
  
  
  
/* ListView */


.searchResult{

    padding: 50px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    
    
}
.searchResult .listCont{

    width:calc(20%);
    height:400px;
    margin:10px;
    margin:0 auto;
    float:left;
}

.searchResult .listCont li{
  
    margin:3px;
    
}

.searchResult .listCont li img{
  
    width:200px;
    height:200px;
    text-align: center;
    
}

.searchResult .listCont li p{

    color:#333;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    white-space:pre-wrap;
}

.searchResult .listCont li span{


    font-size: 14px;
    font-weight: 300;
    padding: 10px 30px;
    display:inline-block;
    white-space:pre-wrap;

}
